.banner-img1 {
    background-image: url(images/slide_01.jpg);
    background-repeat: no-repeat;
    height: 90vh;
    padding-top: 15%;
    ;
}

.banner-img2 {
    background-image: url(images/slide_02.jpg);
    background-repeat: no-repeat;
    height: 90vh;
    padding-top: 15%;
}

.banner-img3 {
    background-image: url(images/slide_03.jpg);
    background-repeat: no-repeat;
    height: 90vh;
    padding-top: 15%;
}

/* ---------------------  */
.list-item {
    color: #4a4a4a;
    transition: 0.3s;
}

.list-item:hover {
    color: #f33f3f;
}

.text-dec {
    text-decoration: none;
}

.readmore-buttn {
    border: none;
    color: white;
    padding: 10px 20px;
    background-color: #f33f3f;
    border-radius: 3px;
    transition: 0.3s;
}

.readmore-buttn:hover {
    background-color: black;
}

/* ------------------------- */
.purchase-bttn {
    border: none;
    color: white;
    padding: 10px 25px;
    background-color: #f33f3f;
    border-radius: 3px;
    transition: 0.3s;
}

.purchase-bttn:hover {
    background-color: black;
}

/* .................... */
.header-img {
    background-image: url(images/products-heading.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
}

.hover-danger {
    color: black;
    transition: 0.3s;
}

.hover-danger:hover {
    color: #dc3545;
}

/* --------------------- */
.nmbr-bttn {
    color: black;
    transition: 0.3s;

}

.nmbr-bttn:hover {
    color: white;
    background-color: #dc3545;
    border: 1px solid #eee;
}

.nmbr-bttn2 {
    color: white;
    background-color: #dc3545;
    border: none;
}

/* -------------------- */
.us-header-img {
    background-image: url(images/about-heading.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
}

/* ---------------------- */
.icon-bttn {
    color: black;
    transition: 0.3s;
}

.icon-bttn:hover {
    color: white;
    background-color: #f33f3f;
}

/* --------------------- */

.team-member {
    border: 2px solid #eee;
}

.read-bttn {
    background-color: #f33f3f;
    text-decoration: none;
    border-radius: 3px;
    color: white;
    transition: 0.3s;
}

.read-bttn:hover {
    background-color: black;
}